*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.row{
    background-color: rgb(240, 171, 133);
    border-radius: 30px;
    box-shadow: 12px 12px 12px;
    width: auto;
    height: 37rem;
}

img{
    width: 120%;
    height: 37rem;
    border-bottom-left-radius: 240px;
    border-top-right-radius: 267px;
}

.login h1{
    font-size: 4rem;
    font-weight: 300;
}

.inp{
    height: 50px;
    width: 70%;
    border: none;
    outline: none;
    border-radius: 60px;

    box-shadow: 3px 2px 5px 2px rgba(0, 0, 0, 0.3);
}

.btn1{
    height: 50px;
    width: 150px;
    border: none;
    outline: none;
    border-radius: 60px;
    background-color: rgb(243, 138, 81);

    box-shadow: 3px 2px 5px 2px rgba(0, 0, 0, 0.3);
}

.btn1:hover{
    background-color: rgb(239, 237, 236);
    transition: 0.5s;
}
.fa-facebook , .fa-instagram , .fa-twitter , .fa-linkedin{
    padding: 8px;
    font-size: 25px;
}
.fa-facebook:hover{
    color: rgb(24, 24, 223);
}

.fa-instagram:hover{
    color: rgb(215, 107, 227);
}

.fa-twitter:hover{
    color: rgb(24, 24, 223);
}

.fa-linkedin:hover{
    color: rgb(24, 24, 223);
}